JAVA_HOME=C:\jdk\jdk17
MAVEN_HOME=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=dental_appointment
DB_USERNAME=root
DB_PASSWORD=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
JWT_SECRET=
DEMO_ADMIN_USERNAME=admin
DEMO_ADMIN_PASSWORD=
DEMO_DOCTOR_PASSWORD=
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=local
APP_DEMO_LOGIN_ENABLED=true
